# Jetbrains IDE config
.idea/

# AI
.understand-anything
CLAUDE.md
.claude/
.claudeignore
analysis/

# virtualenv
venv/
.venv/
.python-version

# macOS
.DS_Store

# cache
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/

# C extensions
*.so

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# config files
.env
.env.example

# deployment
Dockerfile
docker-compose.yml
obs/

# git & ci
.github/
.deepsource.toml
README.md
LICENSE
.gitignore
.dockerignore
.git/
privacy.md

# logs & backup
logs/
backup/