BOT_TOKEN_MAIN=your_main_bot_token
BOT_TOKEN_TEST=your_test_bot_token
TOKEN_KOREANBOTS=your_koreanbots_token
TOKEN_DBL=your_topgg_token
SENTRY_DSN=https://...@sentry.io/...
MONGO_USERNAME=admin
MONGO_PASSWORD=password
MONGOEXPRESS_LOGIN=admin
MONGOEXPRESS_PASSWORD=password
DBPATH=/data/db