TESTMODE=true

BOT_TOKEN_MAIN=your_main_bot_token
BOT_TOKEN_TEST=your_test_bot_token
TOKEN_KOREANBOTS=your_koreanbots_token
TOKEN_DBL=your_topgg_token

SENTRY_DSN=https://...@sentry.io/...
SENTRY_URL=https://...sentry.io/issues/?project=...

DBPATH=/data/db
MONGO_USERNAME=admin
MONGO_PASSWORD=password
# 미지정시 TESTMODE=true면 localhost, false면 mongo
MONGO_HOST=
# 미지정시 27017
MONGO_PORT=
# 미지정시 kkutbot
MONGO_DB=

DBGATE_LOGIN=admin
DBGATE_PASSWORD=password

GRAFANA_USER=admin
GRAFANA_PASSWORD=password