# Jetbrains IDE config
.idea/

# AI
.understand-anything
CLAUDE.md
.claude/
analysis/

# virtualenv
venv/
.venv/
.python-version

# macOS
.DS_Store

# cache
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/

# C extensions
*.so

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# secret config file
.env

# logs & backup
logs/
backup/