# Jetbrains IDE config
.idea

# virtualenv
venv
.venv

# macOS
.DS_Store

# cache
__pycache__

# secret config file
config.yml

# directory for bd backup
backup
tmp

# virtualenv config
.python-version
poetry.toml

# test file
test.py